.wr {
    width: 50%;
    border: 1px solid transparent;
    transition: border-color .35s;
    border-radius: 10px;
}

.hover {
    border-color: red;
}

.block {
    margin-bottom: 40px;
}

.block__items {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-right: 8px;
}

.block__items::-webkit-scrollbar {
    width: 8px;
    background: #2F2F37;
}

.block__items::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    border-radius: 0;
}

.block__main_item {
    padding: 0 16px 0 60px;
}

.block__main_item:first-child {
    margin-bottom: 16px;
}

.burger_img_wr {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger_img {
    width: 80%;
    max-height: 100%;
    vertical-align: bottom;
    transition: opacity .35s ease-in-out;
}

.burger_img__hover {
    opacity: .7;
}