.item {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 60px;
}

.item_icon {
    margin-right: 13px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 26px;
    cursor: pointer;
}
