.order_card {
  display: block;
  width: 100%;
  background: #1C1C21;
  padding: 24px;
  border-radius: 40px;
  border: 0;
  color: #fff;
  text-align: left;
  cursor: pointer;
}

.order_card + .order_card {
  margin-top: 16px;
}

.order_card__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.order_card__title {
  margin-bottom: 24px;
}

.order_card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order_card__bottom_images {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.order_card__bottom_image {
  padding: 0;
  margin: 0;
  width: 64px;
  height: 64px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(45deg, rgba(128, 26, 178, 1), rgba(76, 76, 255, 1));
}

.order_card__bottom_image:before {
  content: "";
  width: 61px;
  height: 61px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: #131316;
}

.order_card__bottom_image img {
  position: absolute;
  width: 90%;
  height: 90%;
  object-fit: cover;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.order_card__bottom_image span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1c1c2161;
}

.order_card__bottom_price {
  display: flex;
}

.order_card__bottom_price_icon {
  margin-left: 10px;
}